{% load static %}
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
  <div class="container">
    <section class="footer-bottom border-top row">
      <div class="col-md-2">
        <p class="text-muted">&copy YoyoDR</p>
      </div>
      <div class="col-md-8 text-md-center">
        <span class="px-2">duranyoiner86@gmail.com</span>
        <span class="px-2">+573148743538</span>
        <span class="px-2">698 Park ST, US</span>
      </div>
      <div class="col-md-2 text-md-right text-muted">
        <img src="{% static 'media/img/icons/pay-visa.png' %}" alt="">
        <img src="{% static 'media/img/icons/pay-mastercard.png' %}" alt="">
      </div>
    </section>
  </div>
  <!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->